name: Auto Deploy to VPN Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: "${{ secrets.SERVER_HOST }}"
          username: root
          key: "${{ secrets.SERVER_SSH_KEY }}"
          script: |
            cd /var/www/aiovpn
            git pull origin main
